
 /* @keyframes bo {
   10% {background-color: rgb(39, 39, 39);     }
   20%{background-color: rgb(255, 0, 0);}
   30%{background-color: rgb(0, 68, 255);}
   40%{background-color: rgb(255, 119, 8);}
   50%{background-color: rgb(187, 15, 2);}
   60%{background-color: rgb(0, 195, 255);}
   70%{background-color: rgb(199, 96, 0);}
   80%{background-color: rgb(70, 70, 70);}
   90%{background-color: rgb(22, 21, 21);}
   100%{background-color:black;}
 } */
  @keyframes an {
    0%   {border-color: rgb(255, 0, 0);}
    25%  {border-color: rgb(0, 238, 255);}
    50%  {border-color: rgb(255, 219, 12);}
    100% {border-color: rgb(255, 8, 8);}
  }

  @keyframes de {
      0% {color: red;}
      25%{color: blue;}
      50%{color: orange;}
      100%{color: red;}
      


  }
  canvas{
    margin-left: 30%;
    animation: infinite;
    border: 10px double rgb(10, 32, 10);
        width: 100px;
        height: 100px;
        animation-name: an;
        animation-duration: 4s;
      
    }
    
    canvas:hover{
       border-radius: 10px;
       border-color: rgb(255, 255, 255);
       border-collapse: separate;
    
    }


    body{
        background-color:rgb(0, 0, 0);
        
    }

    button{
      margin:2px;
        border-radius: 10px;
       border: 3px solid rgb(255, 255, 255);
       width: 220px;
       height: 34px;
    }
    
        
     
    
    button:hover{
    animation: an 4s ;
    
        
    }


   div{
     
      background-color:rgba(0, 0, 0, 0);
      width: 220px;
      text-transform:uppercase;
      
    }

details{

  color:white
}

    details:hover{
   
   animation: de 4s ;



    }
    body:hover{
   animation: bo 10s infinite;
 background-size: cover;



    }