
@keyframes am {
    0%   {border-color: rgb(255, 208, 0);}
    25%  {border-color: rgb(238, 255, 0);}
    50%  {border-color: rgb(208, 255, 0);}
    100% {border-color: rgb(255, 239, 8);}
  }
  @keyframes an {
    0%   {border-color: rgb(255, 208, 0);}
    25%  {border-color: rgb(238, 255, 0);}
    50%  {border-color: rgb(208, 255, 0);}
    100% {border-color: rgb(255, 239, 8);}
  }

  canvas{
    margin-left: 30%;
    animation: infinite;
    border: 10px double rgb(10, 32, 10);
        width: 100px;
        height: 100px;
        animation-name: an;
        animation-duration: 4s;
      
    }
    
    canvas:hover{
       border-radius: 10px;
       border-color: gold;
       border-collapse: separate;
    }


    body{
        background-image: url("img.jpg");
        background-size: 120%;
    }

    button{
        border-radius: 10px;
       border: 3px solid rgb(255, 238, 0);
       width: 220px;
       height: 34px;
    }
    
        
     
    
    button:hover{
    animation: am 4s ;
    
        
    }